* {
    font-family: Verdana, Arial Narrow, helvetica, sans-serif;
}

.card-title {
    display: inline;
    padding: 0.2em;
}
.title-container {
    font-size: 1.1em;
}
.card-contents > * {
    font-size: 0.8em;
    margin-left: 2.5em;
    display: list-item;
    list-style-position: outside;
}
.card-contents *:empty {
    display: none;
}